
  
main {
    display: flex;
    justify-content: center; /* Align items horizontally */
    align-items: flex-end; /* Align items vertically to the bottom */
    height: 100vh; /* Set main container height to viewport height */
  }
  
  section {
    padding: 50px;
    margin-bottom: 150px;
  }
  
  .head{
    color: #2ea44f;
    font-weight: bold;
    font-size: xx-large;
    margin-bottom: 20px;
  }